
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="headertwo clearfloat" id="header">
    <a href="javascript:history.go(-1)" class="fl box-s"><i class="iconfont icon-arrow-l fl"></i></a>
    <p class="fl">短信验证</p>
</div>

<div class="modify clearfloat" id="main">
    <ul>
        <li class="clearfloat">
            <input type="text" name="verifyCode" id="verifyCode" value="" placeholder="请输入手机短信中的验证码" class="sname" />
        </li>
    </ul>
    <a href="#" id="btnNext" class="pay-btn clearfloat">
        验证
    </a>
</div>	

@section FooterScript
{
     <script type="text/javascript">
        $(function () {
            $("#btnNext").click(function () {
                var verifyCode = $("#verifyCode").val();
                $.ajax({
                    url: "/User/ForgotPassword2",
                    type: "post",
                    dataType: "json",
                    data: { verifyCode: verifyCode },
                    success: function (res) {
                        if (res.Status == "ok") {
                            location.href = "/User/ForgotPassword3"
                        } else {
                            alert(res.ErrorMsg);
                        }
                    },
                    error: function () {

                    }
                });
            });
        })

</script>
}

